@charset "utf-8";

@font-face {
	font-family: "Pretendard";
	font-weight: 300;
	src: url(../fonts/Pretendard-Light.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	src: url(../fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 500;
	src: url(../fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 600;
	src: url(../fonts/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	src: url(../fonts/Pretendard-Bold.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 800;
	src: url(../fonts/Pretendard-Black.woff) format("woff");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Medium2.woff) format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Light.woff) format('woff');
}
		

/* ========== reset ========== */
*{margin:0;padding:0;border:none;word-break:break-all;box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-overflow-scrolling:touch;-webkit-hyphens:auto;hyphens:auto;vertical-align:baseline;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;font-weight:inherit;letter-spacing: inherit;}
*:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
html{height:100%;font-size: 12px;}
html, body{height:100%; font-weight:400;min-width:280px;/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/-webkit-text-size-adjust:none;}
body{min-height:100%;font-family:"Montserrat", "Pretendard", "Sans-serif";-webkit-text-size-adjust:none;word-break:keep-all;word-wrap:break-word;line-height:1.4;letter-spacing: -0.02rem;font-size:1.4rem;}
body:after{content:'';display:block;}
legend, caption, figcaption{display:none;}
ul, ol{list-style-image:none;list-style-position:outside;list-style-type:none;border:0;}
img, fieldset, frameset, frameborder, frame{border:0;}
a, img, span, b, input, select, em, textarea, label, strong{vertical-align:middle;outline-style:none;color:inherit;font-family:inherit;}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;text-align:left;}
a:hover{text-decoration:none;}
b, strong{font-weight:700;}
i, em{font-style:normal;}
textarea{resize:none;}
button{border:none;background:none;outline:none;cursor:pointer;}
label, button{cursor:pointer;color:inherit;}
br, hr{border:none;line-height:inherit;}

.report-header{position:relative; padding: 22px 32px 10px; background: #F5F6FA; border-bottom: 1px solid #BDC0D2; }
.report-header .report-title b {font-size:20px;font-weight:500; color:#000000;}
.report-header .report-title .bar {display:inline-block; width: 1px; height: 12px;margin:0 8px; background:#BDC0D2;}
.report-header .report-title .txt {font-size:14px;font-weight:600; color:#878AA1;}
.report-header .logo {position:absolute;top:24px;right:32px;height:26px;}
.report-header .logo img {height:100%;}
.report-header .report-info {padding-top:20px;overflow:hidden;}
.report-header .report-info .date {float:left; font-weight:500;font-size:12px; color:#60637B;padding-top:10px;}
.report-header .report-info .child-info {height:35px;position:absolute;bottom:10px;;right:32px;  display:inline-block; padding:3px 5px;background:#fff;border-radius:10px;}
.report-header .report-info .child-info td{position:relative; height:23px; vertical-align:middle;padding:0 10px;}
.report-header .report-info .child-info .child {display:inline-block;font-weight: 600;color: #111111;font-size: 14px;vertical-align: middle;}
.report-header .report-info .child-info .child span{vertical-align:baseline;}
.report-header .report-info .child-info .child em { color:#4252E2;vertical-align:baseline;}
.report-header .report-info .child-info .bar {position:absolute;top:50%;left:0;margin-top:-5px; display:inline-block;height:13px;width:1px;background:#000000;vertical-align: middle;}
.report-header .report-info .child-info .teacher {display:inline-block;font-weight:500;font-size:11px;vertical-align: middle; color:#878AA1;}
