@charset "utf-8";

@font-face {
	font-family: "Pretendard";
	font-weight: 300;
	src: url(../fonts/Pretendard-Light.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	src: url(../fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 500;
	src: url(../fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 600;
	src: url(../fonts/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	src: url(../fonts/Pretendard-Bold.woff) format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 800;
	src: url(../fonts/Pretendard-Black.woff) format("woff");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Medium2.woff) format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
	src: url(../fonts/Montserrat-Light.woff) format('woff');
}
		

/* ========== reset ========== */
*{margin:0;padding:0;border:none;word-break:break-all;box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-overflow-scrolling:touch;-webkit-hyphens:auto;hyphens:auto;vertical-align:baseline;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;font-weight:inherit;letter-spacing: inherit;}
*:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
html{height:100%;font-size: 12px;}
html, body{height:100%; font-weight:400;min-width:280px;/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/-webkit-text-size-adjust:none;}
body{min-height:100%;font-family:"Montserrat", "Pretendard", "Sans-serif";-webkit-text-size-adjust:none;word-break:keep-all;word-wrap:break-word;line-height:1.4;letter-spacing: -0.02rem;font-size:1.4rem;}
body:after{content:'';display:block;}
legend, caption, figcaption{display:none;}
ul, ol{list-style-image:none;list-style-position:outside;list-style-type:none;border:0;}
img, fieldset, frameset, frameborder, frame{border:0;}
a, img, span, b, input, select, em, textarea, label, strong{vertical-align:middle;outline-style:none;color:inherit;font-family:inherit;}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;text-align:left;}
a:hover{text-decoration:none;}
b, strong{font-weight:700;}
i, em{font-style:normal;}
textarea{resize:none;}
button{border:none;background:none;outline:none;cursor:pointer;}
label, button{cursor:pointer;color:inherit;}
br, hr{border:none;line-height:inherit;}

.report-header{position:relative; padding: 22px 32px 10px; background: #F5F6FA; border-bottom: 1px solid #BDC0D2; }
.report-header .report-title b {font-size:20px;font-weight:500; color:#000000;}
.report-header .report-title .bar {display:inline-block; width: 1px; height: 12px;margin:0 8px; background:#BDC0D2;}
.report-header .report-title .txt {font-size:14px;font-weight:600; color:#878AA1;}
.report-header .logo {position:absolute;top:24px;right:32px;height:26px;}
.report-header .logo img {height:100%;}
.report-header .report-info {padding-top:20px;overflow:hidden;}
.report-header .report-info .date {float:left; font-weight:500;font-size:12px; color:#60637B;padding-top:10px;}
.report-header .report-info .child-info {height:35px;position:absolute;bottom:10px;;right:32px;  display:inline-block; padding:3px 5px;background:#fff;border-radius:10px;}
.report-header .report-info .child-info td{position:relative; height:23px; vertical-align:middle;padding:0 10px;}
.report-header .report-info .child-info .child {display:inline-block;font-weight: 600;color: #111111;font-size: 14px;vertical-align: middle;}
.report-header .report-info .child-info .child span{vertical-align:baseline;}
.report-header .report-info .child-info .child em { color:#4252E2;vertical-align:baseline;}
.report-header .report-info .child-info .bar {position:absolute;top:50%;left:0;margin-top:-5px; display:inline-block;height:13px;width:1px;background:#000000;vertical-align: middle;}
.report-header .report-info .child-info .teacher {display:inline-block;font-weight:500;font-size:11px;vertical-align: middle; color:#878AA1;}

.report-content{padding:30px 28px;}
.character-summary .summary {padding: 10px 16px; background: #F5F6FA; border-radius: 10px;font-size:12px;letter-spacing: -0.01em;color: #505050;}
.character-summary .summary span em { color:#4252E2;font-weight:500;vertical-align:baseline;}
.character-summary .character-wrap .text{font-size:22px;font-weight:500; color:#383838;text-align:center;}
.character-summary .character-wrap .text b{vertical-align:baseline;}
.character-summary  [class*=ico-character] {margin:15px auto;display:block;}
.character-summary .summary-box{margin-top:20px; padding: 24px; border: 1px solid #ECEEF5; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04); border-radius: 10px; }
.character-summary .summary-list {margin-top:16px; color:#383838;font-size:12px;text-align:center;}
.character-summary .summary-list ul{display:inline-block;font-size:13px;}
.character-summary .summary-list li {padding:8px 0;overflow:hidden;position:relative;padding-left:30px;}
.character-summary .summary-list li ~ li{border-top:1px solid #ECEEF5;}
.character-summary .summary-list li [class*=ico]{position:absolute;top:8px;left:0;}
.character-summary .summary-list li span{overflow:hidden;padding:5px 0;display:block;text-align:left;}
.character-summary .summary-list li .ico-toy {width:24px;height:24px;background-image: url("img/ico-toy.png");}
.character-summary .summary-list li .ico-friend {width:24px;height:24px;background-image:url("img/ico-friend.png")}

* + .section-box-wrap{margin-top:30px;}
.section-box-wrap{table-layout: fixed;width:100%;position:relative;}
.section-box-wrap.full{min-height:810px;}
.section-box-wrap .line{position:absolute;top:0;left:50%;bottom: 0;background:#ECEEF5;width:1px !important;padding:0 0 !important; transform:translateX(-50%);}
.section-box-wrap tr > .section-box:first-child{padding-right:16px;}
.section-box-wrap tr > .section-box:first-child .no-data{right:16px;left:0;}
.section-box-wrap tr > .section-box:last-child{padding-left:16px;}
.section-box-wrap tr > .section-box:last-child .no-data{right:0;left:16px;}
.section-box-wrap .no-data{margin-top:0 !important;}
.section-box{position:relative;}
.section-box ~ .section-box{border-left:1px solid #ECEEF5;}
.section-box .section-tit{font-size:15px;font-weight:700; color:#383838;}
.section-box .section-tit + *{margin-top:6px;}
.noti-box{display:table;width:100%; background: #F5F6FA; border-radius: 10px;font-weight:500;font-size:12px; color:#505050;}
.noti-box td{display:table-cell; padding: 8px 12px;vertical-align: middle;font-weight:400;}
.noti-box.min-h{min-height:58px;}
.noti-box em{ color:#4252E2;vertical-align:baseline;}
.noti-box em strong{font-weight:700;vertical-align:baseline;}
.noti-box + *{margin-top:20px;}

.no-data{position:relative; font-size:10px;text-align:center;padding:120px 0;min-height:300px;border-radius:10px;background:#fff url('img/bg-nodata.png') no-repeat 50% 50%;background-size:auto 80px !important;}
.no-data .text{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.no-data img{display:inline-block;height:44.5px;}

.no-data .txt{font-size:12px; color:#878AA1;margin-top:12px;white-space: nowrap;}

.data-table{overflow-x:auto; margin-top:10px;}
.data-table table {min-width: 100%;border-collapse: collapse;}
.data-table table th{ color:#878AA1;font-size:12px;height:26px;background:#F5F6FA;padding:5px 10px; vertical-align:middle;border-top:1px solid #D4D6E3;border-bottom:1px solid #D4D6E3;text-align:center;}
.data-table table td{ color:#60637B;font-size:12px;height:26px; vertical-align:middle;padding:5px 10px;text-align:center;border-bottom:1px solid #ECEEF5;}
.data-table table td b{font-size:10px;color:#383838;font-weight:500;}
.data-table table td .light{font-size:9px;font-weight:400; color:#878AA1;}

.list-dot-wrap{padding: 10px 12px;border: 1px solid #ECEEF5; border-radius: 10px;margin-top:10px;}
.list-dot .dot {font-size:11px;padding-left:10px;position:relative; color:#383838;}
.list-dot .dot ~ .dot {margin-top:5px;}
.list-dot .dot:before{content:'';display:block;width:2px;height:2px;border-radius:100%;background:#383838;position:absolute;top:5px;left:3px;}

[class*=ico-]{display:inline-block;background-position:0 0;background-size:auto 100%;background-repeat:no-repeat;}
.ico-character-rabbit { width: 125px; height: 149px; background-image: url('../images/ico-character-rabbit.svg')}
.ico-character-koala { width: 111px; height: 123px; background-image: url('../images/ico-character-koala.svg')}
.ico-character-sloth { width: 126px; height: 88px; background-image: url('../images/ico-character-sloth.svg')}
.ico-character-beaver { width: 90px; height: 127px; background-image: url('../images/ico-character-beaver.svg')}
.ico-character-alpaca { width: 98px; height: 157px; background-image: url('../images/ico-character-alpaca.svg')}
.ico-character-dolphin { width: 136px; height: 125px; background-image: url('../images/ico-character-dolphin.svg')}

* + .chart-area{margin-top:25px;}
.chart-area .chart{padding:0 30px;}
.chart-area .chart .chart-img{overflow:hidden;}
.chart-area .chart .gage-bar-unit:first-child{padding-top:6px;}
.chart-area .chart .gage-bar-unit.st-thumb:first-child{padding-top:16px;margin-top:-5px;}
.chart-area .chart-tit{padding-left:12px;font-size:12px;font-weight:600;padding-left:10px;position:relative;}
.chart-area .chart-tit em { color:#4252E2;vertical-align:baseline;}
.chart-area .chart-tit + *{margin-top:6px;}
.chart-area .chart-tit:before{content:'';display:block;width:3px;height:3px;background:#383838;position:absolute;top:5px;left:3px;border-radius:100%;}

.chart img{max-width: 100%;;width:100%;}

.gage-bar-unit .info:after{content:'';display:block;clear: both;}
.gage-bar-unit .info{height:21px;overflow:hidden;}
.gage-bar-unit .info .name{float:left;line-height:1;}
.gage-bar-unit .info .name b{font-size:11px; color:#60637B;font-weight:500;vertical-align:top;}
.gage-bar-unit .info .unit {float:right; font-size:11px;color: #383838;font-weight: 500;line-height:1;}
.gage-bar-unit ~ .gage-bar-unit{margin-top:6px;}
.gage-bar-unit .gage-bar-wrap{position:relative;padding:0 1px; padding-bottom:28px;}
.gage-bar-unit .gage-bar-wrap .gage-bar {position:relative;height:10px;border-radius:10px;border: 1px dashed #D4D6E3;background:#F5F6FA;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage{float:left; position:relative; height:100%;display:inline-block;vertical-align:top;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage .bar{display:block;position:absolute;top:0;left:0; width:100%;height:100%;border-radius:1.2rem 0 0 1.2rem;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage[style*='100%'] .bar{border-radius:10px;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage .tag{position:absolute;top:13px;right:-17px;padding-top:3px;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage .tag:before{content:'';display:block;position:absolute;top:1px;left:50%;margin-left:-2px; width :0;height:0;border-left:3px solid transparent;border-right:3px solid transparent;border-bottom:5px solid #383838;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage .tag > span:first-child{ display:inline-block; line-height: 0;height:17px; padding: 5px 3px 4px;font-weight: 600; color:#fff;background: #4252E2; border-radius: 3px;min-width: 34px;text-align:center;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage .tag > span:first-child b{font-size: 8px;vertical-align:baseline;font-weight:600;line-height:1;}
.gage-bar-unit .gage-bar-wrap .gage-bar .gage .tag > span:first-child .unit{font-size:7px;vertical-align:baseline;font-weight:300;line-height:1;margin-left:-2px;}

.gage-bar-unit.st-both{padding-bottom:0;padding-top:56px !important;position:relative;}
.gage-bar-unit.st-both .x-axis{position:absolute;top:69px;left:0;width:100%;text-align:center;font-size:10px;font-weight:500; color:#383838;padding-top:6px;}
.gage-bar-unit.st-both .x-axis:before{content:'';display:block;position:absolute;top:0;left:50%;width:3px;height:3px;background:#383838;border-radius:100%;transform:translateX(-50%);}
.gage-bar-unit.st-both .gage-bar-wrap{padding-bottom:25px;}
.gage-bar-unit.st-both .gage-bar .gage-wrap{position:absolute;top:0; width:50%;height:100%;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:first-child .gage{float:right;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:last-child .gage{float:left;}
.gage-bar-unit.st-both .gage-bar .gage-wrap .tag{top:initial;bottom:-7px;padding-top:0;height:77px;}
.gage-bar-unit.st-both .gage-bar .gage-wrap .tag .dotline{display:block;margin:0 auto; width:22px;height:54px;background-size:100% auto;background-repeat:no-repeat;background-position:0 100%;}
.gage-bar-unit.st-both .gage-bar .gage-wrap .tag span:first-child{margin-bottom:-6px;}
.gage-bar-unit.st-both .gage-bar .gage-wrap .tag:before{display:none;}
.gage-bar-unit.st-both .gage-bar .gage-wrap .gage .bar{border-radius:0;width:100%;margin-left:0;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:first-child{text-align:right;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:first-child{left:0;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:first-child .tag .dotline{background-image: url("data:image/svg+xml,%3Csvg width='28' height='69' viewBox='0 0 28 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 57.0977L14 0.0976562' stroke='url(%23paint0_linear_0_1)' stroke-width='2' stroke-dasharray='4 4'/%3E%3Cpath d='M28 55C28 62.732 21.732 69 14 69C6.26801 69 0 62.732 0 55C0 47.268 6.26801 41 14 41C21.732 41 28 47.268 28 55Z' fill='%2300DDDD' fill-opacity='0.2'/%3E%3Cg filter='url(%23filter0_i_0_1)'%3E%3Ccircle cx='13.9999' cy='54.9999' r='5.6' fill='white'/%3E%3C/g%3E%3Ccircle cx='14' cy='55' r='6' stroke='url(%23paint1_linear_0_1)' stroke-width='2'/%3E%3Cdefs%3E%3Cfilter id='filter0_i_0_1' x='7.3999' y='49.3999' width='12.2002' height='12.2002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='-1' dy='1'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.866667 0 0 0 0 0.866667 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_0_1'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_0_1' x1='14.5' y1='0.0976562' x2='14.5' y2='57.0977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300AAAA'/%3E%3Cstop offset='1' stop-color='%2300AAAA' stop-opacity='0.2'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_0_1' x1='16.3333' y1='60.8333' x2='18.6667' y2='48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23008E8E'/%3E%3Cstop offset='1' stop-color='%2300DDDD'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");}
.gage-bar-unit.st-both .gage-bar .gage-wrap:first-child .tag{left:0;right:initial;margin-left:-17px;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:last-child{left:50%;}
.gage-bar-unit.st-both .gage-bar .gage-wrap:last-child .tag .dotline{background-image: url("data:image/svg+xml,%3Csvg width='28' height='76' viewBox='0 0 28 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0.0976562L14 59.0977' stroke='url(%23paint0_linear_0_1)' stroke-width='2' stroke-dasharray='4 4'/%3E%3Cpath d='M28 61.0977C28 68.8296 21.732 75.0977 14 75.0977C6.26801 75.0977 0 68.8296 0 61.0977C0 53.3657 6.26801 47.0977 14 47.0977C21.732 47.0977 28 53.3657 28 61.0977Z' fill='%235888FF' fill-opacity='0.2'/%3E%3Cg filter='url(%23filter0_i_0_1)'%3E%3Ccircle cx='13.9999' cy='61.0976' r='5.6' fill='white'/%3E%3C/g%3E%3Ccircle cx='14' cy='61.0977' r='6' stroke='url(%23paint1_linear_0_1)' stroke-width='2'/%3E%3Cdefs%3E%3Cfilter id='filter0_i_0_1' x='7.3999' y='55.4976' width='12.2002' height='12.2002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='-1' dy='1'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298516 0 0 0 0 0.369767 0 0 0 0 0.985577 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_0_1'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_0_1' x1='14.5' y1='0.0976562' x2='14.5' y2='59.0977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234252E2'/%3E%3Cstop offset='1' stop-color='%237E8BFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_0_1' x1='16.3333' y1='66.931' x2='18.6667' y2='54.0977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234252E2'/%3E%3Cstop offset='1' stop-color='%237E8BFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");}
